.backToHero {
    margin: 11px 0px 0px 11px;

    transition: all ease-in-out 0.3s;

    width: 5.5vw;
    min-width: 40px;
    height: 6vw;
    min-height: 40px;
}

.backToHero-container {
    background-image: url('../../src/decisaocerta-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 100%;
    height: 100%;
}

.backToHero:hover {
    transform: scale(0.8);
    transition: all ease-in-out 0.3s;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30vh;
    min-height: 90px;
}

.title h1 {
    color: var(--black);
    font-size: clamp(32px, 5.8vw, 200px);
    cursor: default;
    
    text-align: center;
    text-align-last: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;

    margin-bottom: 80px;

    width: 100%;
    height: auto;
}

.perfection {
    perspective: 400px;

    width: auto;
    height: auto;
}

.cards-container {
    transition: transform ease-in-out 0.5s;
    transform-style: preserve-3d;

    width: auto;
    height: auto;
}

.perfection:hover .cards-container {
    transform: rotateY(180deg);
}

.content {
    position: relative;
    transform-style: preserve-3d;

    cursor: default;
    
    width: 20vw;
    height: 30vw;
    min-width: 230px;
    min-height: 330px;
}

.cards-container:hover .content {
    animation: animationOn 0.5s ease-in-out;  
}

.card-contabilidade-position {
    margin-bottom: 60px;
}

.card {
    background-color: var(--ciano);
    border-radius: 30px;
    box-shadow: 0px -5px 0px #737373, 0px 5px 10px #737373;
    color: white;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 100%;
    height: 100%;
}

.card h1 {
    font-size: clamp(22px, 1.9vw, 170px);
}

.backface {
    background-color: var(--ciano);
    border-radius: 30px;
    box-shadow: 0px -5px 0px #737373, 0px 5px 10px #737373;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotateY(180deg);
    backface-visibility: hidden;

    width: 100%;
    height: 100%;
}

.card p {
    animation: click 2s ease-in-out infinite;

    font-size: clamp(22px, 1.6vw, 100px);
}

.backface p {
    font-size: clamp(22px, 1.6vw, 100px);
    
    margin: 0 25px;
}

.backface-center {
    box-shadow: 0px -5px 0px var(--black), 0px 5px 10px #737373;
}

.contabilidade-card {
    box-shadow: 0px -5px 0px var(--black), 0px 5px 10px #737373;
}

.seguros-card-ic {
    background-image: url('../src/seguros-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    border-bottom: 2px solid white;

    width: 50%;
    height: 35%;
}

.contabilidade-card-ic {
    background-image: url('../src/contabilidade-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    border-bottom: 2px solid white;

    width: 50%;
    height: 35%;
}

.fiscalidade-card-ic {
    background-image: url('../src/fiscalidade-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 2px solid white;

    width: 50%;
    height: 35%;
}

@media(max-width:980px) {
    .card-contabilidade-position {
        margin-bottom: 0px;
    }
}

@media (min-width:768px) {
   
    .card p::after {
        content: "";
    }
}

@media (max-width:768px) {
   
    .card p::after {
        content: "Clique aqui!";
    }
}

