.title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30vh;
}

.title h1 {
    color: var(--black);
    font-size: clamp(60px, 5.2vw, 200px);
    text-align: center;
    text-align-last: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding-bottom: 125px;

    width: 100%;
    height: auto;
}

.cards-container {
    position: relative;

    transform-style: preserve-3d;
    perspective: 1000px;

    cursor: default;

    transition: transform ease-in-out 0.8s;

    width: 300px;
    min-width: 300px;
    height: 370px;
}

.cards-container:hover {
    transform: rotateY(180deg);
    transition: all ease-in-out 0.4s;
}

.card-contabilidade-position {
    margin-bottom: 60px;
}

.card {
    background-color: var(--transparentOrange);
    border-radius: 30px;
    box-shadow: 0px -5px 0px #737373, 0px 5px 10px #737373;
    color: white;

    position: absolute;
    z-index: 2;

    backface-visibility:hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 100%;
    height: 100%;
}

.backface {
    background-color: var(--transparentOrange);
    border-radius: 30px;
    box-shadow: 0px -5px 0px #737373, 0px 5px 10px #737373;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.backface p {
    font-size: 22px;

    transform: rotateY(180deg);

    margin: 0 25px;
}

.backface-center {
    box-shadow: 0px -5px 0px var(--black), 0px 5px 10px #737373;
}

.contabilidade-card {
    box-shadow: 0px -5px 0px var(--black), 0px 5px 10px #737373;
}

.seguros-card-ic {
    background-image: url('../src/seguros-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    border-bottom: 2px solid white;

    width: 50%;
    height: 40%;
}

.contabilidade-card-ic {
    background-image: url('../src/contabilidade-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    border-bottom: 2px solid white;

    width: 50%;
    height: 40%;
}

.fiscalidade-card-ic {
    background-image: url('../src/fiscalidade-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    border-bottom: 2px solid white;

    width: 50%;
    height: 40%;
}

@media(max-width:980px) {
    .card-contabilidade-position {
        margin-bottom: 0px;
    }
    .cards {
        padding-bottom: 40px;
    }
}