@keyframes closeBtnShake {
    0% { transform: translate(1px, 1px) scale(0.8) }
    10% { transform: translate(-1px, -2px) scale(0.8) }
    20% { transform: translate(-3px, 0px) scale(0.8) }
    30% { transform: translate(3px, 2px) scale(0.8) }
    40% { transform: translate(1px, -1px) scale(0.8) }
    50% { transform: translate(-1px, 2px) scale(0.8) }
    60% { transform: translate(-3px, 1px) scale(0.8) }
    70% { transform: translate(3px, 1px) scale(0.8) }
    80% { transform: translate(-1px, -1px) scale(0.8) }
    90% { transform: translate(1px, 2px) scale(0.8) }
    100% { transform: translate(1px, -2px) scale(0.8) }
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menuIntro {
    0% {
        width: 0%;
        height: 100%;

        overflow: hidden;
    }
    100% {
        width: 200px;
        height: 100%;

        overflow: hidden;
    }
}

@keyframes exitMenu {
    0% {
        width: 200px;
        height: 100%;

        overflow: hidden;
    }
    100% {
        width: 0%;
        height: 100%;

        overflow: hidden;
    }
}

@keyframes exitIconAnimation {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}
