.footer {
    background-color: var(--darkOrange);
    color: white;

    margin-top: 70px;

    width: 100%;
    height: auto;
}

.footer-dc {
    padding: 20px;

    width: 100%;
    height: auto;
}

.footer-dc h1 {
    font-size: clamp(54px, 7vw, 200px);
}

.footer-dc span {
    font-weight: normal;
}

.footer-status {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    width: 100%;
    height: auto;
}

.align-status {
    display: flex;
    flex-direction: column;
    justify-content: baseline;

    margin-bottom: 10px;

    width: auto;
    height: 100%;
}

.align-status p {
    font-size: 35px;
}

.footer-creator {
    display: flex;
    align-items: center;

    width: 100%;
    height: auto;
}

.footer-creator-son1 {
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;

    width: 50%;
    height: 100%;
}

.footer-creator-son2 {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 10px;

    width: 50%;
    height: 100%;
}

.dc-icon {
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;

    min-width: 30px;
    height: 30px;
}

.dc-icon-container {
    background-image: url("../src/decisaocerta-logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}

@media (max-width:527px) {
    .footer-creator {
        flex-direction: column;
    }
    .footer-creator-son1 {
        display: flex;
        justify-content: center;
        margin-bottom: 3px;
        width: 100%;
    }
    .footer-creator-son2 {
        display: flex;
        justify-content: center;
        width: 100%;
    } 
}