.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

<<<<<<< HEAD
    position: relative;

    width: 100%;
    height: 100vh;
    min-height: 400px;
}

.menu {
    overflow: hidden;
=======
    width: 100%;
    height: 100vh;
}

.menu {
    background-color: rgba(233, 233, 233, 0.75);
    backdrop-filter: blur(22px);
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117
    
    position: absolute;
    right: 0%;
    z-index: 1;

<<<<<<< HEAD
    width: 40%;
    min-width: 400px;
    height: 100%;   
}

.menu-container {
    background-color: rgba(233, 233, 233, 0.75);
    backdrop-filter: blur(22px);

    position: absolute;
    right: 0%;
    
    width: 100%;
=======

    width: 200px;
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117
    height: 100%;
}

.box-exit {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
<<<<<<< HEAD
    height: auto;
=======
    height: 80px;
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117

    animation: opacity 3s 1 ease-in-out;
}

.exit {
    margin-right: 25px;
<<<<<<< HEAD
    margin-top: 25px;

    width: 3vw;
    height: 3vw;
    min-width: 50px;
    min-height: 50px;
=======

    min-width: 50px;
    height: 50px;
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117

    cursor: pointer;
}

.exit-container {
    background-image: url('../src/close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.exit:hover {
    transform: scale(0.8);

    animation: closeBtnShake 0.3s 0.2s infinite ease-in-out;
    transition: transform ease-in-out 0.15s;
}

.options {
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    align-items: center;
=======
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117

    animation: opacity 3s ease-in-out 1;

    width: 100%;
    height: 80%;
}

<<<<<<< HEAD
.options-text {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
}

.options-text a {
    color: var(--black);
    font-size: clamp(50px, 5vw, 300px);
=======
.options a {
    color: var(--black);
    font-size: clamp(40px, 2vw, 300px);
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117

    cursor: pointer;

    transition: all ease-in-out 0.3s;
}

<<<<<<< HEAD
.options-text a:hover {
    transform: translateX(15px);

    color: var(--ciano);
=======
.options a:hover {
    transform: scale(0.9);

    color: var(--ciano);
    text-decoration: underline;
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117

    transition: all ease-in-out 0.3s;
}

.unvisibility {
    display: none;
}

.hero-information {
    width: 50%;
    height: 95%;
}

.flex-icon {
    display: flex;
<<<<<<< HEAD
    justify-content: space-between;

    width: 100%;
    height: auto;
}

.backToHero {
    margin-left: 11px;

    transition: all ease-in-out 0.3s;

    width: 5.5vw;
    min-width: 70px;
    height: 5.5vw;
    min-height: 70px;
}

.backToHero-container {
    background-image: url('../src/decisaocerta-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 100%;
    height: 100%;
}

.backToHero:hover {
    transform: scale(0.8);
    transition: all ease-in-out 0.3s;
=======
    justify-content: end;
    align-items: center;

    width: 100%;
    height: 7.5%;
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117
}

.icon-menu {
    transition: all ease-in-out 0.3s;
    cursor: pointer;

<<<<<<< HEAD
    width: 5.5vw;
    min-width: 70px;
    height: 5.5vw;
    min-height: 70px;
=======
    width: 7.5%;
    min-width: 50px;
    height: 100%;
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117
}

.icon-menu-container {
    background-image: url('../src/seemore-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 100%;
    height: 100%;
}

.icon-menu:hover {
    transform: scale(0.8) rotate(45deg);
    transition: transform ease-in-out 0.3s;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    
=======
    margin-top: 13%;
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117
    cursor: default;

    width: 100%;
    height: 60%;
}

.hero-title h1 {
<<<<<<< HEAD
    font-size: clamp(45px, 7.2vw, 200px);
=======
    font-size: clamp(60px, 7.5vw, 200px);
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117
    color: var(--black);

    transition: all ease-in-out 0.2s;
}

.hero-title p {
<<<<<<< HEAD
    font-size:  clamp(22px, 3vw, 150px);
=======
    font-size:  clamp(25px, 2.5vw, 200px);
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117
    color: var(--pcolor);
}

.hero-title span {
    text-decoration: underline 5px solid var(--ciano);
}

<<<<<<< HEAD
.box-ctn {
    display: flex;
=======
.box-btn {
    display: flex;
    align-items: center;
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117
    justify-content: center;

    width: 100%;
    height: auto;
}

.contact-btn {
<<<<<<< HEAD
    padding: 8px 32px;

    border: 2px solid var(--ciano);
    border-radius: 10px;
}

.contact-btn p {
    font-size:clamp(25px, 3vw, 170px);
=======
    padding: 10px 25px;

    border: 4px solid var(--ciano);
    border-radius: 50px;
}

.contact-btn p {
    font-size:clamp(25px, 2vw, 50px);
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117
    color: var(--pcolor);

    transition: all ease-in-out 0.2s;
}

.contact-btn-hover {
    transform: scale(1.075);
    transition: all ease-in-out 0.2s;
}

.hero-img {
    border-radius: 16px;

    width: 45%;
    height: 95%;
}

.hero-img-container {
    background-image: url('../src/contability.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;

    width: 100%;
    height: 100%;
}

@media (max-width:927px) {
    .hero-information {
        width: 100%;
    }
    .hero-img {
        display: none;
    }
    .flex-icon {
        padding-right: 10px;
    }
<<<<<<< HEAD
    .hero-title p {
        text-align: center;
        text-align-last: center;
    }
}

@media (max-width:400px) {
    .menu {
        width: 100%;
        min-width: 0px;
=======
    .hero-title h1 {
        font-size: clamp(33px, 10vw, 200px);
    }
    .hero-title p {
        font-size:  clamp(15px, 2.5vw, 200px);
        text-align: center;
        text-align-last:center;
>>>>>>> 325e4593f517520b9baf0e6b31b564df41743117
    }
}